.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #all-game-card{
    margin-bottom: 20px; 
    margin-top: 5px;
    
    
    
  }
  .card-img-top{
    object-fit: cover;
    object-position: center; /* Center the image within the element */
    width: 700px;
    height: 200px;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 15%;

  }
  #all-games-shadow{
    border-radius: 15%;
  }
  .game-rating{
    background-color:  green ;
    color:white;
    padding: 2px;
  }
  #profile-pic{
    object-fit: cover;
    object-position: center; /* Center the image within the element */
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 15%;
  }
  .profile-container{
    justify-content: left;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom:solid grey 2px;
  }
  #profile-name{

    text-align: left;
    color: hsla(198,73%,40%,0.3);
  }