
  #all-games-container{
    
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px;
  }

  #all-game-card{
    margin-bottom: 20px; 
    margin-top: 5px;
    padding-top: 10px;
  }
  .card-img-top{
    object-fit: cover;
    object-position: center; /* Center the image within the element */
    width: 700px;
    height: 200px;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 15%;

  }
  
  .game-rating{
    background-color:  green ;
    color:white;
    padding: 2px;
  }
  #profile-pic{
    object-fit: cover;
    object-position: center; /* Center the image within the element */
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 15%;
  }
  .profile-container{
    justify-content: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
  }
  #profile-name{

    text-align: left;
    color: #d4ce46;
    font-weight: bold;
  }
  .progress-btn{
    display: flex
  }
  /* #progress-btn{
    padding: 0px;
    padding-bottom: 2px;
    font-size: 13px;
    margin-bottom: 1px;
    border: none;
  } */
  #progress-bar{
    height: 5px
  }
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover,
  .rating > span:hover ~ span {
    color: transparent;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
     left: 0; 
     color: gold;
  }
  #genre-select{
    float: right;
    margin-top: 20px;
    color: #d4ce46;
    font-weight: bold
  }

  .form-inline{
    color: #0e5135;
    text-indent: 10px;
    font-weight: bold;
    font-size: 18px;
    
  }

  #myBtn {
    position: fixed;
    bottom: 30px;
    float: right;
    right: 10%;
    left: 90%;
    max-width: 100px;
    width: 100%;
    font-size: 18px;
    background-color:rgba(250, 250, 250, 0.4);
    padding: .5px;
    border-radius: 15%;
    font-weight: bold;
    opacity: 0.6;
}

#myBtn:hover {
    background-color: #d4ce46;
}
   
#logo{
  font-family: 'Orbitron', sans-serif; 
  color: #0e5135;
  text-shadow:  5px 2px 2px #99931d
  ;
}
